<nav class="vertical">	
	<ul>
<b>HTML</b>
		<li><a href="/basicos/"><strong><i> << Voltar</i></strong></a></li>
		<li><a href="/basicos/html/FormHTML5/index.html">Form Bonito</a></li>
		<li><a href="/basicos/html/wizards.zip/">Wizards Simples</a></li>
		<li><a href="/basicos/html/HTMLDicas.pdf">Dicas de HTML</a></li>
	</ul>
</nav>
<!-- Final do Cabeçalho -->
